########################
## Files              ##
########################

------------------------
.gitattributes
------------------------
*.class
*.csv
*.exe
*jar
*.jpg
*.png
------------------------
gradlew
gradlew.bat
------------------------

########################
## Folders            ##
########################

------------------------
.gradle/
.vscode/
------------------------
bin/
build/
gradle/
------------------------
